@{ Layout = "~/Views/Shared/LayoutAdmin.cshtml";

}
<div class="home-content main">
    <div class="sub-main" style="margin:auto ;background:#fafafa;width: 95%; height: auto; display: table; border-radius: 10px; box-shadow: 0 0.25rem 0.75rem rgb(84 199 150 / 0.2)">
        <div style="display:table-row">
            <div style="width:100%;height:70px;padding:20px 0">
                <span id="accept-post" style="margin:auto auto 2vh 2vw;cursor:pointer;border:none;color:white;border-radius:15px; background: linear-gradient(to right, #ebe263, #e59a38);padding:15px 18px">Accept selected</span>
                <span id="refuse-post" style="margin:auto auto 2vh 1vw;cursor:pointer;border:none;color:white;border-radius:15px; background: linear-gradient(to right, #e69d69, #d66236);padding:15px 18px">Refuse selected</span>
                <select id="status-select" style="width:20vw;height:35px;margin-left:1vw;border:none;background:#e8f7f1;border-radius:15px;padding-left:10px;">
                    <option value="-1">All</option>
                    <option value="1">Accepted</option>
                    <option value="0">Declined</option>
                </select>
                <span id="accept-all-post" style="margin:auto auto 2vh 17vw;cursor:pointer;border:none;color:white;border-radius:15px; background: linear-gradient(to right, #f0ea97, #e09859);padding:15px 18px">Accept all</span>
                <span id="refuse-all-post" style="margin:auto auto 2vh 1vw;cursor:pointer;border:none;color:white;border-radius:15px; background: linear-gradient(to right, #e39470, #cd6d40);padding:15px 18px">Refuse all</span>

            </div>
            <table class="table  col-11 container" style="margin-top:20px" id="table-id">
                <tr>
                    <th><input type="checkbox" id="check-all" onclick="SelectAll(this)" /></th>
                    <th>#</th>

                    <th>Subject</th>
                    <th>Content</th>
                    <th>Request date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                @{int k = 1;}
                @foreach (var item in ViewBag.data)
                {

            <tr class="table-item">

                <td><input type="checkbox" class="sub-check"  post-item="post-@item.id" /></td>
                <td>@k @{k++;} </td>

                <td>@item.subject</td>
                <td>@item.content</td>
                <td>@item.created_at.ToString("HH:mm dd/MM/yyyy ")</td>
                <td class="sts-item" id="sts-@item.id">@(item.status==true? "Accepted" : "Refused")</td>
                <td>
                    <span pid="view-post-@item.id" class="action-icon" style="cursor:pointer;background: linear-gradient(to right, #63eb85, #2ad77c); padding: 10px;border-radius:10px;color:white; ">
                        <i class="fa fa-eye"></i>
                    </span>
                   
                </td>
            </tr>
                }
            </table>

            <!--		Start Pagination -->
            <div class="pagination-container" style="cursor:pointer">

                <nav aria-label="Page navigation example" style="position:unset;box-shadow:none; background:none;">
                    <ul class="pagination" id="paginations">
                        <li class="page-item page-link" data-page="prev">&lt;</li>
                        @for (int i = 1; i <= ViewBag.pagi; i++)
                        {
                            if (i == 1)
                            {
                                <li class="page-item page-link" data-page="page-1" style="background:#ddd">@i</li>

                            }
                            else
                            {
                            <li class="page-item page-link" data-page="page-@i">@i</li>
                            }
                        }
                        <li class="page-item page-link" data-page="next" >&gt;</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    var pages = 1;
    $('body').delegate('.action-icon', 'click', function () {
         $("#view-post").css("display", "table");
        $("#view-post").height($(".body-wrapper").height());
        var pid = $(this).attr("pid").replace("view-post-", "");
        var fdt = new FormData();
        fdt.append("pid", pid);
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetPostByID", "Post")",
            data: fdt,
                processData: false,
                contentType: false,
            success: function (data) {
                var str = ' <span pid="post-' + data.id + '" id="refuse-item" style="cursor:pointer; padding: 15px; background: #e86342; color: white; float: right;margin-left:1vw">Refuse</span>';

                if (data.status == false) {
                    str = '<span pid="post-' + data.id + '" id="accept-item" style="cursor: pointer; padding: 15px; background: #47dcab; color: white; float: right; ">Accept</span> </div>';

                }
                $("#view-main").append('<div style="float:left;padding:0" class="col-5">' +
                    '<img style = " border-radius: 15px; width: inherit; height: auto" src = "/Post/GetImageFile/' + data.id + '" > </div >' +
                    ' <div style="height: auto;float:left;border-radius:15px;" class="col-6"> <h2>Subject: ' + data.subject + '</h2> <br/> <h4>Content: ' + data.content + '</h4> <h4>Url:<a style=" word-wrap: break-word;" target="blank" href="' + data.url + '">' + data.url + '</a></h4> </div>' +
                    '<span id="close-view" style="float:right;right:0;cursor:pointer;color:white;font-size:20px;font-weight:600;background:#cbdcd3;border-radius:10px;padding:5px 10px">X</span>' +
                    '<div style="height:50px;float:left;top:70px" class="col-7">' + str);
                }
            });

    });
    
    function SelectAll(source) {
        checkboxes = document.getElementsByClassName('sub-check');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    $(".sub-check").click(function () {

        checkboxes = document.getElementsByClassName('sub-check');
        var k = checkboxes.length;
        for (var i = 0, n = k; i < n; i++) {
            if (checkboxes[i].checked == false) {
                document.getElementById("check-all").checked = false;
                k -= 1;
                break;
            }
        }
        if (k == checkboxes.length) {
            document.getElementById("check-all").checked = true;
        }
    });
    $("#accept-all-post").click(function () {
        ActionAll(1);
    });
    $("#refuse-all-post").click(function () {
        ActionAll(0);
    });
    function ActionAll(value) {
        var conf = "Are you sure to REFUSED these posts ?";
        if (value == 1) {
            conf = "Are you sure to ACCEPT these posts ?";
        }
        if (confirm(conf)) {
            var fdt = new FormData();
            fdt.append("val", value)

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateAllPost", "Post")",
                data: fdt,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.href = "@Url.Action("Dashboard","Auth")"
                }
            });
        }
    }
    $('body').delegate('#accept-item', 'click', function () {
        if (confirm("Are you sure to ACCEPT this post?")) {
            var fdt = new FormData();
            var pid = $(this).attr("pid").replace("post-", "");
            fdt.append("ls", pid);
            fdt.append("sts", 1);
            document.getElementById("sts-" + pid).innerHTML = "Accepted";

            UpdateStatus(fdt);
            CloseView();

        }
    });

    $('body').delegate('#refuse-item', 'click', function () {
        if (confirm("Are you sure to ACCEPT this post?")) {
            var fdt = new FormData();
            var pid = $(this).attr("pid").replace("post-", "");
            fdt.append("ls", pid);
            fdt.append("sts", 0);
            UpdateStatus(fdt);
            document.getElementById("sts-" + pid).innerHTML = "Refused";

            CloseView();
        }
    });$("#accept-post").click(function () {
        if (CheckCheckbox() == true) {
            if (confirm("Are you sure to ACCEPT these post(s)?")) {
                var fdt = new FormData();
                checkboxes = document.getElementsByClassName('sub-check');

                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked == true) {
                        var r = $(checkboxes[i]).attr("post-item").replace("post-", "");
                        fdt.append("ls", r);
                        fdt.append("sts", 1);
                        document.getElementById("sts-" + r).innerHTML = "Accepted";
                    }
                }
                UpdateStatus(fdt);
                ResetCheckbox();

            }
        }
    });

    $("#refuse-post").click(function () {
        if (CheckCheckbox() == true) {
            checkboxes = document.getElementsByClassName('sub-check');
            if (confirm("Are you sure to REFUSE these post(s)?")) {
                var fdt = new FormData();

               for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked == true) {
                        var r = $(checkboxes[i]).attr("post-item").replace("post-", "");
                        fdt.append("ls", r);
                        fdt.append("sts", 0);
                        document.getElementById("sts-" + r).innerHTML = "Refused";
                    }
                }
                UpdateStatus(fdt);

                ResetCheckbox();

            }
        }
    });
    function UpdateStatus(fdt) {
         $.ajax({
                            type: "POST",
                            url: "@Url.Action("UpdatePost", "Post")",
                            data: fdt,
                            processData: false,
                            contentType: false,
                            success: function () {

                            }
         });

    }
    function CheckCheckbox() {
        checkboxes = document.getElementsByClassName('sub-check');
        var count = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == true) {
                count++;
            }
        }
        if (count == 0) {
            alert("Please select at least 1 post");
            return false;
        } else {
            return true;
        }
    }
    function ResetCheckbox() {
        document.getElementById("check-all").checked = false;

        checkboxes = document.getElementsByClassName('sub-check');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;

        }
    }
    $('body').delegate('.page-item', 'click', function () {

        var str = $(this).attr("data-page");

        var re = document.getElementsByClassName('page-item');
        for (var i = 0; i < re.length; i++) {
            $(re[i]).css("background", "#fafafa");
        }

        if (str == "prev"&&pages>=1) {

              if (pages ==1) {
                pages = 1;

            } else {
                pages -= 1;

            }

        } else if (str == "next" && pages <=@ViewBag.pagi) {
            if (pages ==@ViewBag.pagi) {
                pages = @ViewBag.pagi;

            } else {
                pages += 1;

            }


        } else {
            if (pages == parseInt(str.replace("page-", ""))) {
                pages = -1;
            } else {
                pages = parseInt(str.replace("page-", ""));
            }
            $(this).css("background", "#ddd");
        }
        var select = $("#status-select").val();
        LoadData(pages, select);


    });
    function LoadData( page,  sts) {

        if (page > 0 && page <=@ViewBag.pagi) {
            document.getElementById("check-all").checked = false;

            var r = document.getElementsByClassName('table-item');
            while (r.length > 0) {
                r[0].parentNode.removeChild(r[0]);
            }
            var formDT = new FormData();
            formDT.append("p", page);
            formDT.append("status", sts);
            var row = page == 1 ? 1 : 10 * (page - 1) + 1;
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadData", "Auth")",
                data: formDT,
                processData: false,
                contentType: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var st = "Refuse";
                        if (data[i].status == true) {
                            st = "Accepted";
                        }
                        var date = moment(data[i].created_at).format('HH:mm dd/MM/yyyy');
                        $("#table-id").append(' <tr class="table-item">' +
                            '<td><input type="checkbox" class="sub-check"  post-item="post-'+data[i].id+'" /></td>' +
                            '<td>' + row + '</td>' +
                            ' <td>' + data[i].subject + '</td>' +
                            '<td>' + data[i].content + '</td>' +
                            '<td>' + date + '</td>' +
                            '<td class="sts-item" id="sts-'+data[i].id+'">' + st + '</td>' +
                            '<td>  <span pid="view-post-' + data[i].id + '" class="action-icon" style="cursor:pointer;background: linear-gradient(to right, #63eb85, #2ad77c); padding: 10px;border-radius:10px;color:white; ">' +
                            '<i class="fa fa-eye"></i> </span> </td> </tr>');
                        row = row + 1;


                    }

                    var f = new FormData();
                    f.append("status", sts);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetCount", "Auth")",
                        data: f,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            var fdt = new FormData();
                            fdt.append("i", data);
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("RowEvent", "Auth")",
                                data: fdt,
                                processData: false,
                                contentType: false,
                                success: function (dt) {
                                    var r = document.getElementsByClassName('page-item');
                                    while (r.length > 0) {
                                        r[0].parentNode.removeChild(r[0]);
                                    }
                                    var strs = "";
                                    for (var j = 1; j <= dt; j++) {
                                        if (j == page) {
                                            strs += '<li class="page-item page-link" data-page="page-'+j+'" style="background:#ddd">' + j + '</li>';

                                        }
                                        else {
                                            strs += '<li class="page-item page-link" data-page="page-' + j + '">' + j + '</li>'
                                        }
                                    }
                                    $("#paginations").append('<li class= "page-item page-link" data-page="prev" >&lt;</li > ' + strs + '<li class= "page-item page-link" data-page="next"  >&gt;</li>');

                                }
                            });

                        }

                    });
                }
            });

        }
    }
    $("#status-select").change(function () {

        var select = $("#status-select").val();
        LoadData(1, select);
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>