@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model demoWebCore_1.Models.ModelViews.Collect
@{
    demoWebCore_1.IService.IPostService p = ViewBag.postService;
    demoWebCore_1.IService.IReactService r = ViewBag.reactService;
    demoWebCore_1.Models.ModelViews.Post mdl = ViewBag.model;
    List<demoWebCore_1.Models.ModelViews.Comment> listComment = ViewBag.listComment;

}
<style>
    * {
        color: #14352c
    }

    #container {
        width: 100%;
        margin: 2em auto;
        margin: 0 auto;
        padding-bottom: 20vh;
    }

    .cols {
        -moz-column-count: 4;
        -moz-column-gap: 1vw;
        -webkit-column-count: 4;
        -webkit-column-gap: 1vw;
        column-count: 4;
        column-gap: 1vw;
    }

    .btnSavePost {
        background: #eb6a46;
        font-weight: 700;
        color: white;
        transition: 0.4s all ease-out;
        float: right;
        height: 38px;
        border: none;
        border-radius: 20px
    }

    .box-img img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        transition: 1s;
        clear: both;
    }

    .box-img {
        height: auto;
        margin-bottom: 2.5vh;
        overflow: hidden;
        position: relative;
    }

        .box-img:hover {
            cursor: pointer
        }

            .box-img:hover .action {
                display: block;
            }

    .action {
        position: absolute;
        top: 0;
        height: calc( 100% - 23px );
        width: 100%;
        transition: 1s all ease-out;
        background: rgb(108 130 125 / 0.5);
        padding: 10px 10px 10px 0;
        border-radius: 15px;
        display: none;
    }

    #comments::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #comments::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey;
        border-radius: 10px;
    }

    /* Handle */
    #comments::-webkit-scrollbar-thumb {
        background: #9cc3b6;
        border-radius: 10px;
    }

        /* Handle on hover */
        #comments::-webkit-scrollbar-thumb:hover {
            background: #5c9a75;
            cursor: grab;
        }

        #comments::-webkit-scrollbar-thumb:focus, :active {
            background: #5c9a75;
            cursor: grabbing
        }

    .drop:hover {
        cursor: pointer;
    }

    .drop > option {
        color: black !important;
    }

    .btn-redirect {
        background: white;
        font-weight: 700;
        color: #1d5735;
        transition: 0.4s all ease-out;
        height: 38px;
        border: none;
        border-radius: 20px;
    }

    img:hover {
        cursor: pointer
    }

    #btnSavePost {
        background: #eb6a46;
        font-weight: 700;
        color: white;
        transition: 0.4s all ease-out;
        float: right;
        height: 38px;
        border: none;
        border-radius: 0 15px 15px 0
    }

    .show-create {
        display: block !important;
    }

    .p-content-light {
        padding: 10px 10px;
        width: 100%;
        border: 2px solid #2af78b;
        border-radius: 8px;
        font-size: 15px;
        color: #e1e8e6;
        background: none;
    }

    #txtNameCollect::placeholder {
        color: #e1e8e6;
    }

    #btnCreate {
        transition: 0.4s all ease-out;
        padding: 8px 33px;
        border: 1px solid white;
        background: white;
        color: #17a55b;
        font-weight: 700;
        font-size: 18px;
        border-radius: 2px;
    }

        #btnCreate:hover {
            background: none;
            color: white;
        }

    .error_ {
        color: #ec584c;
        font-size: 15px;
        font-style: italic;
        float: left
    }

    .input-cmt {
        width: 87%;
        border: 1.5px solid #a8c6b7;
        border-radius: 5px;
        padding: 14px;
    }

        .input-cmt:focus {
            outline: none;
            color: #348460;
            font-weight: 600;
        }

    .utilities:focus {
        outline: none;
    }

    .btn-cmt {
        background: none;
        border: none;
    }

        .btn-cmt:focus {
            outline: none;
        }

        .btn-cmt > i {
            color: #dcd3d3;
            font-size: 20px;
            pointer-events: none;
        }

    button:focus {
        outline: none;
    }

    .show-action {
        display: block !important;
    }

    .span-action {
        color: white;
        font-weight: 500;
        padding: 0 25% 0 15%;
    }

        .span-action:hover {
            cursor: pointer;
            border-bottom: #74f7af 3px solid;
        }
    .btn-action {
        transition: 0.4s all ease-out;
        padding: 8px 33px;
        border: 1px solid white;
        background: white;
        color: #17a55b;
        font-weight: 700;
        font-size: 18px;
        border-radius: 2px;
    }

        .btn-action:hover {
            background: none;
            color: white;
        }
    .p-content-light {
        padding: 10px 10px;
        width: 100%;
        border: 2px solid #2af78b;
        border-radius: 8px;
        font-size: 15px;
        color: #e1e8e6;
        background: none;
    }
    .error_ {
        color: #ec584c;
        font-size: 15px;
        font-style: italic;
        float: left
    }
</style>
<div style="position: fixed;bottom: 65px;width: 95%;text-align: right;z-index:1;pointer-events: none;">
    <button onclick="window.location.href='Post/Index'" style="pointer-events: all!important;border-radius: 50%;border: 5px solid rgb(125 175 152 / 0.43);background: #fff;padding: 18px 25px;font-size: 23px"><i class="fa fa-plus" style="pointer-events:none"></i></button>
</div>
<!--POST DETAIL -->
<div class="container col-9" style="display:table;background: white; height: auto; min-height: 650px; margin: 7vh auto; border-radius: 20px; box-shadow: 0 0 40px 0 rgb(136 169 161 / 0.41); padding: 0">
    <div id="img" style="display:table-row;float:left; width:450px;height:100%;position:relative; padding:10px">
        <img src="@Url.Action("GetImageFile", "Post", new { id = mdl.id })" style="width:100%;height:100%;border-radius:20px" />
    </div>
    @if (mdl.url != "")
    {
        <div class="action-url" style="display:none;width:450px;height:100%;position:absolute">
            <div style="bottom:20px;left:15px;position:absolute; float:right">
                <button id="redirect-@mdl.id" style="padding:0 10px;float:left" class="btn-redirect">
                    <i style="pointer-events:none;margin-right:0.5vw;" class="fa fa-arrow-right"></i>
                    @mdl.url.Substring(8, 16)
                </button>
            </div>
        </div>
    }
    <div class="content" style="display:table-row;float:left; width:calc(100% - 450px);height:100%;padding:10px 20px">
        <div class="content" style="height:40px;margin:1vh 0">

            <button class="utilities" id="down-img" style="padding:10px; background:#fff; border:none; " path="path-@mdl.id">
                <i class="fa fa-download" style="font-size:18px;pointer-events:none"></i>
            </button>
            <button class="utilities" style="padding: 10px; background: #fff; border: none">
                <i class="fa fa-bell" style="font-size:18px;pointer-events:none"></i>
            </button>
            <button class="utilities" style="padding: 10px; background: #fff; border: none">
                <i class="fa fa-share" style="font-size:18px;pointer-events:none"></i>

            </button>

            <button class="btnSavePost col-2" style="float: right; height: 100%; border-radius: 0 20px 20px 0" id="@mdl.id" onclick="SavePost(this.id)">Save</button>

            <select class="drop form-control  col-5 select-@mdl.id" style=" float:right;color:black;height:100%;border-radius:15px 0 0 15px">
                <option style="color:black" value="-1">Choose</option>
                <option style="color:black" value="0">Create</option>
                @if (TempData["listCollect"] != null)
                {
                    foreach (var item1 in (List<demoWebCore_1.Models.ModelViews.Collect>)TempData["listCollect"])
                    {
                        if ((mdl.collection_id == item1.id && mdl.user_id == demoWebCore_1.Models.AuthRequest.id) || p.CheckChooseCollection(mdl.id, item1.id))
                        {
                            <option style="color:black" selected="selected" value="@item1.id">@(item1.name)  - @(item1.status == true ? "Private" : "Public")</option>

                        }
                        else
                        {
                            <option style="color:black" value="@item1.id">@(item1.name)  - @(item1.status == true ? "Private" : "Public")</option>

                        }
                    }
                }
            </select>

        </div>

        <div>
            <h1>@mdl.subject</h1>
            <h6 style="color:#666f6c">@mdl.content</h6>
        </div>
        <!--COMMENT-->
        <h4 style="margin-top: 5vh">Comments:</h4>

        <div style="height: 250px; overflow-y: scroll;overflow-x:hidden;text-align:center; padding:1% 0; border: 1px solid #a8c6b7;border-radius:3px; margin-bottom:20px" id="comments">
            @if (listComment.Count == 0)
            {
                <label id="cmt-sts">No comment here</label>
            }
            else
            {
                if (listComment.Count > 1)
                {
                    <span style="cursor:pointer; color:#859c8d;font-size:12px" pid="cmt-@mdl.id" id="load-more">load more</span>
                }
                <div id="box-cmt">
                    @foreach (var item in listComment.Skip(listComment.Count - 3).Take(3))
                    {
                        <div style="width:100%; height:auto;bottom:0; padding:5px 0" id="item-cmt-@item.id">
                            <span style="float:left; width:50px;margin-right:0.5vw;padding:10px">
                                <span style="padding:9px 15px; border-radius:50%;background:#cad3cc; color:white">@p.GetDataContext().Users.FirstOrDefault(x => x.id == item.user_id).name.Substring(0, 1)</span>
                            </span>
                            <div style="height:auto;padding:3px 0 3px 15px;width:500px;float:left;background:#eef7f2;border-radius:15px;text-align:left;margin-bottom:10px">
                                <div style="height: 100%; width: 85%; float: left;margin-right:1%">
                                    <a href="#" style="margin:5px 0 0 0;color:black;font-weight:500">@p.GetDataContext().Users.FirstOrDefault(x => x.id == item.user_id).name</a>
                                    <span>@(item.created_at.ToShortDateString()==DateTime.Now.ToShortDateString()?item.created_at.ToString("HH:mm"):item.created_at.ToString("dd/MM/yyyy HH:mm"))</span>
                                    <p style=" word-wrap: break-word;" id="content-@item.id">@item.content</p>

                                </div>
                                <div style="height:100%;width:12%;float:left;padding:5px;text-align:center">
                                    <button style="width:70%;float:left; margin-right:10%;" class="btn-cmt favorite" id="favorite-@item.id">
                                        @if (r.CheckUserReact(item.id))
                                        {
                                            <i class="fa fa-heart" id="heart-@item.id" style="color: rgb(199, 50, 40) "></i>

                                        }
                                        else
                                        {
                                            <i class="fa fa-heart" id="heart-@item.id"></i>

                                        }
                                        <span style="color:rgb(138 38 31)" id="heart-count-@item.id">@r.GetReactByCmt(item.id).total</span>
                                    </button>
                                    <div id="action-cmt" style="width: 20%; float: left; padding: 0 2px; margin-top: 25%;display: block; ">
                                        <button class="btn-cmt" cid="btn-action-@item.id">

                                            <i class="fa fa-exclamation" style="color: #b08585; "></i>


                                        </button>
                                        <div id="action-@item.id" class="action-user" style=" display:none;padding: 5px 0; text-align: left; background: #49a274; border-radius: 10px; z-index: 5; height: auto; width: 100px;">
                                            @if (AuthRequest.id == item.user_id)
                                            {
                                                <span class="span-action edit-span" cid="edit-@item.id">edit</span>
                                                <span class="span-action delete-span" cid="delete-@item.id">delete</span>


                                            }
                                            else
                                            {
                                                <span class="span-action report-span" cid="report-@item.id">report</span>
                                            }

                                            @if (mdl.user_id == AuthRequest.id && AuthRequest.id != item.user_id)
                                            {
                                                if (item.hide == false)
                                                {
                                                    <span class="span-action hide-span" cid="hide-@item.id">hide</span>
                                                }
                                                else
                                                {
                                                    <span class="span-action unhide-span" cid="unhide-@item.id">unhide</span>

                                                }
                                                <span class="span-action delete-span" cid="delete-@item.id">delete</span>

                                            }

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    }
                </div>


            }

        </div>
        @*<div style="height: 100px; overflow-y: hidden;text-align:center; padding:16% 0; border: 1px solid #a8c6b7;border-radius:3px; margin-bottom:20px " id="comments">
                <h6 style="color:#97baa9">No comment yet</h6>

            </div>*@


        <div style="width:100%">
            <input type="text" class="input-cmt" id="content-cmt" style="float: left; word-wrap: break-word;">
            <button id="cancel" style="border: none; background:none; padding: 16px; color: rgb(111, 155, 137);float:left; margin-left: -3vw; font-weight: 700; display: none;">X</button>
            <button id="done" style="border:none;padding:16px 20px;margin-left: 0.2%;color:white;float:left;font-weight:700; background:#e1e8e6">Done</button>
        </div>
    </div>
</div>
<!--END POST DETAIL-->
<!--OTHER POST OF USER-->
<div id="container" class="cols col-9">
    @foreach (var item in (List<demoWebCore_1.Models.ModelViews.Post>)ViewBag.data)
    {
        <div class="box-img">

            <img src='@Url.Action("GetImageFile", "Post", new { id = item.id })' />
            <div class="action">
                <div class="content" style="height: 15%;">
                    <select class="drop form-control  col-7 select-@item.id" style="float:left;border:none;background:transparent;
        color:white;">
                        <option style="color:black" value="-1">Choose</option>
                        <option style="color:black" value="0">Create</option>
                        @if (TempData["listCollect"] != null)
                        {
                            @foreach (var item1 in (List<demoWebCore_1.Models.ModelViews.Collect>)TempData["listCollect"])
                            {
                                if ((item.collection_id == item1.id && item.user_id == demoWebCore_1.Models.AuthRequest.id) || p.CheckChooseCollection(item.id, item1.id))
                                {
                                    <option style="color:black" selected="selected" value="@item1.id">@(item1.name)  - @(item1.status == true ? "Private" : "Public")</option>

                                }
                                else
                                {
                                    <option style="color:black" value="@item1.id">@(item1.name)  - @(item1.status == true ? "Private" : "Public")</option>

                                }
                            }
                        }
                    </select>
                    <button class="btnSavePost col-4" id="@item.id" onclick="SavePost(this.id)">Save</button>


                </div>
                <div class="redirect-detail" style="height:72%" pid="item-@item.id"></div>
                @if (item.url.Length >= 16 && item.url != "")
                {
                    <div class="url_" style="bottom:10px;position:absolute;margin-left:10px">
                        <button id="redirect-@item.id" style="padding:0 10px;float:left" class="btn-redirect">
                            <i style="pointer-events:none;margin-right:0.5vw;" class="fa fa-arrow-right"></i>
                            @item.url.Substring(8, 16)
                        </button>

                    </div>
                }

            </div>
            <a style="color:#1f6231;">
                <span style="float:left;width:100%;font-weight:600;padding-left:5px ;">@item.subject</span>
                @* <span style="float:left;width:100%">
                        <img src="~/lib/imgs/user.png" style="width:30px;height:30px;border-radius:50%" />

                        <span style="font-size:15px" >@(u.GetUserName(item.user_id))</span>
                    </span>*@
            </a>
        </div>
    }
</div>
<!--END OTHER POST OF USER-->
<!--CREATE COLLECTION-->
<div class="text-center container col-5" id="create-collect" style="display:none;position:absolute;position:fixed;top:200px; margin-left:30vw; min-height: 320px; z-index: 10; height: auto; background: #136546; padding: 10px 30px; border-radius: 10px; box-shadow: 1px 1px 30px 10px rgb(245 237 232 / 0.35)">
    <div style="width:100%;text-align:left; padding-bottom:20px;">
        <label class="col-5" style="font-size:25px;font-weight:700;color:white;padding:0">Create collection</label>
        <button style="float:right;color:white; border:none;background:none;font-size:20px" id="close-create">X</button>
    </div>


    @Html.AntiForgeryToken()
    @Html.TextAreaFor(m => m.name, new { @class = "p-content-light col-12", @type = "text", @id = "txtNameCollect", @placeholder = "collection name", @style = "height:50px;float:left" })
    @Html.ValidationMessageFor(d => d.name, "", new { @class = "col-12 error_ ", @style = "float:left;text-align:left", @id = "name_error" })

    <label class="  mb-5 col-12" style="float:left;text-align:left;">
        @Html.CheckBoxFor(m => m.status, new { @style = "margin-top:15px;margin-right:5px", @id = "status-collect" })

        <span class="checkmark" style="color:#ffffff;">Make it secret</span>

    </label>
    <button id="btnCreate">Create</button>

</div>
<div class="text-center container col-5" id="edit-comment" style="display:none;position:absolute;position:fixed;top:200px; margin-left:30vw; min-height: 320px; z-index: 10; height: auto; background: #136546; padding: 10px 30px; border-radius: 10px; box-shadow: 1px 1px 30px 10px rgb(245 237 232 / 0.35)">
    <div style="width:100%;text-align:left; padding-bottom:20px;">
        <label class="col-5" style="font-size:25px;font-weight:700;color:white;padding:0">edit your comment</label>
        <button style="float:right;color:white; border:none;background:none;font-size:20px" id="close-edit">X</button>

    </div>

    <textarea class="p-content-light col-12" id="txtEdit" style="height: auto;min-height:80px; float: left"></textarea>
    <label class="col-12 error_" style="float: left; text-align: left" id="content_error"></label>
  
    <button id="btnSaveComment" class="btn-action" c-id="0">Save</button>

</div>
<div class="text-center container col-4" id="confirm-collect" style="display:none;position:absolute;position:fixed;top:200px; margin-left:32vw; min-height: 300px; z-index: 10; height: auto; background: #136546; padding: 10px 30px; border-radius: 10px; box-shadow: 1px 1px 30px 10px rgb(245 237 232 / 0.35)">
    <div style="width:100%;text-align:left; padding-bottom:20px; ">
        <label class="col-5" style="font-size:17px;font-weight:200;color:white;padding:5px 0;">Confirm</label>

        <button style="float:right;color:white; border:none;background:none;font-size:20px" id="close-confirm">X</button>

    </div>
    <label class="col-12" style="font-size:25px;font-weight:700;color:white;padding-top:20px;margin-bottom:30px">Are you sure to make this change?</label>

    <button class="btn-action" id="btn-confirm" style="margin-right:20px" c-id="0">OK</button>
    <button class="btn-action" id="btn-cancel">Cancel</button>

</div>
<!--END CREATE COLLECTION-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    var count = 1;
    function SavePost(value) {
      var ele = $(".select-" + value).val();

        if (@demoWebCore_1.Models.AuthRequest.id== 0) {
            window.location.href = "@Url.Action("Auth", "Auth", new { type = "login" })"
        } else if (ele == -1) {
            alert("Please select Collection");
        } else {

            var formData = new FormData();
            formData.append("post_id",value);
            formData.append("collect_id", ele);
             $.ajax({
                type: "POST",
                url: "@Url.Action("SavePostOther", "Post")",
                data: formData,
                processData: false,
                contentType: false,
                 success: function (data) {
                     if (data == true) {
                         document.getElementById(value).innerHTML = "Saved!"
                         $("#" + value).css("background", "#4f0707");
                         $("#" + value).css("pointer-events", "none");

                     }
                }
            });
        }



    }
     $(".drop").change(function () {
        if ($(this).val() == 0) {
            if (@demoWebCore_1.Models.AuthRequest.id== 0) {
                window.location.href = "@Url.Action("Auth", "Auth", new { type = "login" })"
            } else {
                $(this).css("pointer-events", "none");
                document.getElementById("create-collect").classList.add("show-create");
            }
        }


     });

    $("#comments").scroll(function () {
       @* actionicon = document.getElementsByClassName('action-user');
        for (var i = 0, n = actionicon.length; i < n; i++) {
            actionicon[i].classList.remove("show-action");
        }*@
    });
    $(".redirect-detail").click(function () {
        var ele = $(this).attr("pid");
        window.location.href = "/Post/PostDetail?id=" + ele.replace("item-", "");
    });

    $("#down-img").click(function () {
        var ele = $(this).attr("path").replace("path-", "");
        $.ajax({
            type: "POST",
            url: "DownloadImage" + "?id=" + ele,
            processData: false,
            contentType: false,
            success: function () {
                alert("Download successfully!");
            }
        });
    });

    $("#btnCreate").click(function () {
            document.getElementById("name_error").innerHTML = "";
            var _name = $("#txtNameCollect").val();
         var sts = $('#status-collect:checked').val()=="true"?true:false;

            var _sts = (sts == false ? "Public" : "Private");

            if (_name.length == 0) {
                document.getElementById("name_error").innerHTML = "* Name is required";

            }

            if (_name.length>0) {
                var formData = new FormData();

                formData.append("name", _name);
                formData.append("status", sts);

            $.ajax({
                type: "POST",
                url: "@Url.Action("NameExists", "Collect")"+"?name="+_name,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data == true) {
                        document.getElementById("name_error").innerHTML = "This name already exists";

                    } else {

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SaveCollect", "Collect")",
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                var select = document.getElementsByClassName('drop');

                                $(select).append('<option value=' + data + '>' + _name+" - "+_sts+ '</option>');
                                $(select).val(data);
                                ResetFormCreate();
                            }
                        });
                    }
                },
                error: function () {


                }

            });
        }

    });
    $("#done").click(function () {
        var cont = $("#content-cmt").val();

        if (@demoWebCore_1.Models.AuthRequest.id== 0) {
             window.location.href = "/Auth/Auth?type=login";
        }
       else if (cont.length > 0) {

            var formDT = new FormData();
            formDT.append("postID", @mdl.id);
            formDT.append("content",cont);

            $.ajax({
                type: "POST",
                url: "CommentAction",
                data: formDT,
                processData: false,
                contentType: false,
                success: function (data) {

                    var e = document.getElementById("comments");
                    var action = "";
                    if (@AuthRequest.id== data.user_id) {
                        action = '<span class="span-action edit-span" cid="edit-' + data.id + '">edit</span><br/>' +
                            '<span class="span-action  delete-span" cid="delete-' + data.id + '">delete</span><br/>';

                    } else { action = '<span class="span-action report-span" cid="report-' + data.id + '">report</span>';}
                    if (@mdl.user_id == @AuthRequest.id && @AuthRequest.id != data.user_id) {
                                    if (data.hide == false) {
                                        action += '<span class="span-action  hide-span" cid="hide-' + data.id + '">hide</span>';

                                    } else {
                                        action +=' <span class="span-action unhide-span" cid="unhide-'+data.id+'">unhide</span>'

                                    }
                        action += ' <span class="span-action delete-span" cid="delete-'+data.id+'">delete</span>';
                    }
                    $(e).append('<div style="width:100%; height:auto;padding:5px 0"> <span style="float:left; width:50px;margin-right:0.5vw;padding:10px">'
                        + '<span style = "padding:9px 15px; border-radius:50%;background:#cad3cc; color:white" >@(demoWebCore_1.Models.AuthRequest.id == 0 ? "" : demoWebCore_1.Models.AuthRequest.name.Substring(0, 1))</span ></span >' +
                        ' <div style="height:auto;padding:3px 0 3px 15px;width:500px;float:left;background:#eef7f2;border-radius:15px;text-align:left;margin-bottom:10px"><div style="height: 100%; width: 85%; float: left;margin-right:1%">' +
                        ' <a href="#" style="margin:5px 0 0 0;color:black;font-weight:500">@(demoWebCore_1.Models.AuthRequest.id == 0 ? "" : demoWebCore_1.Models.AuthRequest.name)</a>' +
                        '<span> @DateTime.Now.ToString("HH:mm")</span>'
                        + '<p style=" word-wrap: break-word;">' + cont + '</p>'
                        +'</div >'
                + '<div style="height:100%;width:12%;float:left;padding:5px;text-align:center">'
                        + '<button style="width:70%;float:left; margin-right:10%;" class="btn-cmt favorite" id="favorite-'+data.id+'">'
                + '<i class="fa fa-heart" id="heart-'+data.id+'" ></i>'
               + '<span style="color:rgb(138 38 31)" id="heart-count-'+data.id+'">0</span>'
                + '</button>' + '<div id="action-cmt" style="width: 20%; float: left; padding: 0 2px; margin-top: 25%;display: block; ">'
                        + '<button class="btn-cmt" cid="btn-action-' + data.id + '"><i class="fa fa-exclamation" style="color: #b08585; "></i> </button><div id="action-' + data.id +'" class="action-user" style=" display:none;padding: 5px 0;  text-align: left; background: #49a274; border-radius: 10px; z-index: 5; height: auto; width: 100px;">'+
                        action +

                        '</div> </div>  </div>  </div> </div>');


                    ResetComment();
                    $("#comments").scrollTop($("#comments").height());
                    if (@listComment.Count== 0) { document.getElementById("cmt-sts").remove(); }
                }
            });


        } else {
            alert("please enter comment")
        }
    });
    $("#load-more").click(function () {
        count += 1;
        var dt = new FormData();
        dt.append("value", count);
        dt.append("postID", $(this).attr("pid").replace("cmt-",""));
           $.ajax({
                type: "POST",
                url: "@Url.Action("LoadMoreCmt", "Post")",
                data: dt,
                processData: false,
                contentType: false,
                 success: function (data) {
                     var e = document.getElementById("box-cmt");

                     if (data == null) {
                         $("#load-more").remove();
                     } else {
                         for (var i = 0; i < data.length; i++) {
                             var dateTimeAgo = "";
                             var today = new Date();
                             var date = new Date();
                             var dd = date.getDate();
                             var mm = date.getMonth() + 1;
                             var yyyy = date.getFullYear();
                             if (dd < 10) {
                                 dd = '0' + dd;
                             }

                             if (mm < 10) {
                                 mm = '0' + mm;
                             }
                             date = dd+'-'+mm+'-'+yyyy;

                             if (moment(data[i].created_at).format('DD-MM-YYYY') == date) {
                                 dateTimeAgo = moment(data[i].created_at).format('HH:mm');
                             } else {
                                 dateTimeAgo = moment(data[i].created_at).format('DD-MM-YYYY HH:mm');

                             }
                             var cont = "";
                             var user_name = getUserName(data[i].user_id);
                             var action = "";
                             if (CheckUserReact(data[i].id)=="true") {
                                 cont = '<i class="fa fa-heart" id="heart-' + data[i].id + '" style="color: rgb(199, 50, 40) "></i>';
                             } else {
                                 cont = '<i class="fa fa-heart" id="heart-' + data[i].id + '"></i>';
                             }
                               if (@AuthRequest.id== data[i].user_id) {
                                action = '<span class="span-action edit-span" cid="edit-' + data[i].id + '">edit</span><br/>' +
                                    '<span class="span-action  delete-span" cid="delete-' + data[i].id + '">delete</span><br/>';

                    } else { action = '<span class="span-action report-span" cid="report-' + data[i].id + '">report</span>';}
                             if (@mdl.user_id == @AuthRequest.id && @AuthRequest.id != data[i].user_id) {
                                    if (data.hide == false) {
                                        action += '<span class="span-action  hide-span" cid="hide-' + data[i].id + '">hide</span>';

                                    } else {
                                        action +=' <span class="span-action unhide-span" cid="unhide-'+data[i].id+'">unhide</span>'

                                    }
                        action += ' <span class="span-action delete-span" cid="delete-'+data[i].id+'">delete</span>';
                    }
                             $(e).prepend('<div style="width:100%; height:auto;padding:5px 0"> <span style="float:left; width:50px;margin-right:0.5vw;padding:10px">'
                                 + '<span style = "padding:9px 15px; border-radius:50%;background:#cad3cc; color:white" >' + user_name.slice(0, 1) + '</span ></span >' +
                                 ' <div style="height:auto;padding:3px 0 3px 15px;width:500px;float:left;background:#eef7f2;border-radius:15px;text-align:left;margin-bottom:10px"><div style="height: 100%; width: 85%; float: left;margin-right:1%">' +
                                 ' <a href="#" style="margin:5px 0 0 0;color:black;font-weight:500">' + user_name + '</a>'
                                  + ' <span> ' + dateTimeAgo + '</span>'
                                 + '<p style=" word-wrap: break-word;">' + data[i].content + '</p></div>'
                                 + '<div style="height:100%;width:12%;float:left;padding:5px;text-align:center">'
                                 + '<button style="width:70%;float:left; margin-right:10%;" class="btn-cmt favorite" id="favorite-' + data[i].id + '">'
                                 + cont + '<span style="color:rgb(138 38 31)" id="heart-count-' + data[i].id + '">' + GetTotal(data[i].id) + '</span>'
                                 + '</button>' + '<div id="action-cmt" style="width: 20%; float: left; padding: 0 2px; margin-top: 25%;display: block; ">'
                                 + '<button class="btn-cmt" cid="btn-action-' + data[i].id + '"><i class="fa fa-exclamation" style="color: #b08585; "></i> </button><div id="action-' + data[i].id + '" class="action-user" style=" display:none;padding: 5px 0; text-align: left; background: #49a274; border-radius: 10px; z-index: 5; height: auto; width: 100px;">' +
                                action+
                                 '</div> </div>  </div>  </div> </div>');


                         }

                     }
                     }

           });
    });

    function getUserName(userID) {
        var f = new FormData();
        f.append("id", userID);

           var q= $.ajax({
                type: "POST",
                url: "@Url.Action("GetUserName", "Auth")",
                data: f,
                async: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    return data;

               }
           }).responseText;

        return q;

    };

    function CheckUserReact(cmtID) {
        var f = new FormData();
        f.append("cID", cmtID);
       var r= $.ajax({
            type: "POST",
            url: "@Url.Action("CheckUserReact", "Post")",
            data: f,
            async: false,
            processData: false,
            contentType: false,
           success: function (data) {
                return data;

            }

       }).responseText;

        return r;
    };
     function GetTotal(cmtID) {
        var f = new FormData();
        f.append("cID", cmtID);
       var r= $.ajax({
            type: "POST",
            url: "@Url.Action("GetReactByCmt", "Post")",
            data: f,
            async: false,
            processData: false,
            contentType: false,
           success: function (data) {
                return data;

            }

       }).responseText;
        return r;
    };

    $("#content-cmt").on('input', function (e) {
        var cont = $(this).val();
        if (cont.length > 0) {
            $("#cancel").css("display", "block");
            $("#done").css("background","#eb6a46")
        } else {
            $("#cancel").css("display", "none");
            $("#done").css("background", "#e1e8e6")


        }
    });
    $("#cancel").click(function () {
        ResetComment();
    });
    function ResetComment() {
        document.getElementById("content-cmt").value = "";
        $("#cancel").css("display", "none");
        $("#done").css("background", "#e1e8e6")
    }
    $("#close-create").click(function () {
        var select = document.getElementsByClassName('drop');

        $(select).val(-1);
        $(select).css("pointer-events", "inherit");
        ResetFormCreate();


    });
    function ResetFormCreate() {
        document.getElementById("txtNameCollect").value = "";
        $('#status-collect').prop('checked', false);
        document.getElementById("create-collect").classList.toggle("show-create");
        $(".main-post").css("pointer-events", "inherit");


    }
     $(".btn-redirect").click(function () {
        var id = $(this).attr("id").replace("redirect-", "");
        var data = new FormData();
        data.append("id", id);

         $.ajax({
                type: "POST",
                url: "@Url.Action("GetUrl", "Post")",
                data: data,
                processData: false,
                contentType: false,
                 success: function (data) {
                     window.open(data, '_blank');
                }
            });


     });

    $('body').delegate('.favorite', 'click', function () {

        if (@AuthRequest.id== 0) {
                window.location.href = "/Auth/Auth?type=login";
        } else {
            var thisID = $(this).attr("id").replace("favorite-", "");
            if ($("#heart-" + thisID).css("color") == "rgb(220, 211, 211)") {
                $("#heart-" + thisID).css("color", "#c73228");
                var q = parseInt(document.getElementById("heart-count-" + thisID).innerHTML);
                document.getElementById("heart-count-" + thisID).innerHTML = q + 1;
                ReactAction(1, thisID);

            } else {
                $("#heart-" + thisID).css("color", "rgb(220, 211, 211)");
                var q = parseInt(document.getElementById("heart-count-" + thisID).innerHTML);
                document.getElementById("heart-count-" + thisID).innerHTML = q - 1;
                ReactAction(0, thisID);

            }
        }
    });

    $('body').delegate('.btn-cmt', 'click', function () {
        var cid = $(this).attr("cid").replace("btn-action-", "");
        actionicon = document.getElementsByClassName('action-user');
        for (var i = 0, n = actionicon.length; i < n; i++) {
            if (actionicon[i] == document.getElementById("action-" + cid)) {
                document.getElementById("action-" + cid).classList.toggle("show-action");
            } else { actionicon[i].classList.remove("show-action"); }
        }

    });
    $('body').delegate('.hide-span', 'click', function () {
        var cid = $(this).attr("cid").replace("hide-", "");

        $.ajax({
            type: "POST",
            url: "HideAndUnhideComment" + "?cid="+cid+"&&status="+1,
            processData: false,
            contentType: false,
            success: function () {
                alert("hide success");
                $("#action-" + cid).append('<span class="span-action unhide-span" cid="unhide-'+cid+'">unhide</span>');
                $('[cid="hide-'+cid+'"]').remove();

            }
        });
    });
    $('body').delegate('.unhide-span', 'click', function () {
        var cid = $(this).attr("cid").replace("unhide-", "");

        $.ajax({
            type: "POST",
            url: "HideAndUnhideComment" + "?cid=" + cid + "&&status=" + 0,
            processData: false,
            contentType: false,
            success: function () {
                alert("unhide success");
                $("#action-" + cid).append('<span class="span-action hide-span" cid="hide-' + cid + '">hide</span>');
                $('[cid="unhide-' + cid + '"]').remove();

            }
        });
    });
    $('body').delegate('.delete-span', 'click', function () {
        var cid = $(this).attr("cid").replace("delete-", "");
        $("#confirm-collect").css("display", "block");

        $("#btn-confirm").attr("c-id", cid);


    });
     function ResetConfirm() {
        $("#confirm-collect").css("display", "none");
        $("#btn-confirm").attr("c-id", 0);
        $(".redirect-detail").css("pointer-events", "inherit");
    };
    $("#close-confirm").click(function () {
        ResetConfirm();
    });
    $("#btn-confirm").click(function () {
        var e = $(this).attr("c-id");
        var fdt = new FormData();
        fdt.append("id", e);
        dt=@mdl.id;
       $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteComment", "Post")",
                data: fdt,
                processData: false,
                contentType: false,
           success: function () {
               ResetConfirm();
               $("#item-cmt-" + e).remove();
                }
            });
    });
    $("#btn-cancel").click(function () {

        ResetConfirm();
    });
    $('body').delegate('.report-span', 'click', function () {
        var cid = $(this).attr("cid").replace("report-", "");
        var fdt = new FormData();
        fdt.append("cmt_id",cid);
        if (confirm("Are you sure you want  report this comment?")) {
             $.ajax({
                type: "POST",
                url: "@Url.Action("ReportComment","Post")",
                data: fdt,
                processData: false,
                contentType: false,
                   success: function (data) {
                       if (data == true) {
                           alert("You have successfully reported")
                       } else {
                           alert("Sorry you have reported this comment")

                       }

                }
            });
        }
    });

     $('body').delegate('.edit-span', 'click', function () {
        var cid = $(this).attr("cid").replace("edit-", "");
        $("#edit-comment").css("display", "block");
         $("#btnSaveComment").attr("c-id", cid);
         var w = document.getElementById("content-" + cid).innerHTML;
         $("#txtEdit").val(w);
          document.getElementById("action-" + cid).classList.remove("show-action");




    });
     function ResetFormEdit() {
         $("#edit-comment").css("display", "none");
        $("#btnSaveComment").attr("c-id", 0);

    };
    $("#close-edit").click(function () {
        ResetFormEdit();
    });
    $("#btnSaveComment").click(function () {
        var e = $(this).attr("c-id");
        var _name = $("#txtEdit").val();
        if (_name.length == 0) {
            document.getElementById("content_error").innerHTML = "* Content is required";

        } else {
              var fdt = new FormData();
            fdt.append("id", e);
            fdt.append("content", _name);
               $.ajax({
                type: "POST",
                url: "@Url.Action("EditComment", "Post")",
                data: fdt,
                processData: false,
                contentType: false,
                   success: function () {
                       document.getElementById("content-" + e).innerHTML = _name;


               ResetFormEdit();

                }
            });
        }

    });

    function ReactAction(value, cmtID) {

        $.ajax({
            type: "POST",
            url: "ReactAction" + "?cmtID=" + cmtID + "&&value=" + value,
            processData: false,
            contentType: false,
            success: function () {

            }
        });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>